# Virtual Environment
myenv/

# Python cache
__pycache__/
*.pyc

# VS Code
.vscode/

# Training checkpoints
results/

# Trained model
model/

# Hugging Face model files
*.safetensors

# Environment files
.env